language: android
jdk: oraclejdk8

env:
  global:
    - ANDROID_BUILD_TOOLS_VERSION=27.0.3
    - ANDROID_ABI=armeabi-v7a

android:
  components:
    - tools
    - build-tools-$ANDROID_BUILD_TOOLS_VERSION
    - android-22
    - android-27
    - sys-img-armeabi-v7a-android-22
    - extra-android-m2repository
    - extra-android-support
    - extra
  licenses:
    - android-sdk-license-.+

before_install:
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo "d56f5187479451eabf01fb78af6dfcb131a6481e" > "$ANDROID_HOME/licenses/android-sdk-license"

before_script:
  - chmod +x gradlew
  - echo no | android create avd --force -n test -t android-22 --abi $ANDROID_ABI
  - emulator -avd test -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &

script:
  - ./gradlew clean connectedAndroidTest
